.login1-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.login1-thq-login-elm {
  width: 100%;
  height: 812px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 1);
}
 
.login1-thq-bg-elm {
  top: -5px;
  left: -7px;
  width: 389px;
  height: 842px;
  position: absolute;
}
 
.login1-thq-card-elm {
  gap: 32px;
  top: 662px;
  left: 0px;
  width: 375px;
  height: 325px;
  display: flex;
  padding: 10px 24px 7px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 32px;
  flex-direction: column;
  background-color: rgba(17, 17, 17, 1);
}
 
.login1-thq-rectangle11-elm {
  width: 103px;
  height: 3px;
  border-radius: 35px;
}
 
.login1-thq-group19-elm {
  width: 327px;
  height: 259px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.login1-thq-frame72-elm {
  gap: 16px;
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
 
.login1-thq-text-elm1 {
  color: rgba(247, 250, 245, 1);
  width: 327px;
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.login1-thq-text-elm2 {
  color: rgba(247, 250, 245, 1);
  width: 327px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.login1-thq-frame2-elm {
  gap: 16px;
  top: 111px;
  left: 0px;
  display: flex;
  padding: 20px 16px;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(247, 250, 245, 1);
}
 
.login1-thq-text-elm3 {
  color: rgba(4, 9, 33, 0.5);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 17px;
  font-stretch: normal;
  text-decoration: none;
}
 
.login1-thq-button-elm {
  gap: 10px;
  top: 200px;
  left: 0px;
  display: flex;
  padding: 12px 20px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(232, 0, 120, 1);
}
 
.login1-thq-text-elm4 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.login1-thq-frame69-elm {
  gap: 12px;
  top: 0px;
  left: 0px;
  width: 375px;
  display: flex;
  padding: 50px 0;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.login1-thq-frame55-elm {
  gap: 4px;
  display: flex;
  padding: 4px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.login1-thq-chevrondown-elm1 {
  width: 40px;
  height: 40px;
  display: flex;
  padding: 16px 13px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(35, 35, 35, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(17, 17, 17, 1);
}
 
.login1-thq-alignjustify-elm {
  width: 24px;
  height: 24px;
}
 
.login1-thq-chevrondown-elm2 {
  width: 40px;
  height: 40px;
  display: flex;
  padding: 16px 13px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(35, 35, 35, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(17, 17, 17, 1);
}
 
.login1-thq-user-elm {
  width: 24px;
  height: 24px;
}
 
.login1-thq-iccurrent-elm1 {
  top: 389.5130310058594px;
  left: 154.51300048828125px;
  width: 33.48699188232422px;
  height: 33.48699188232422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.login1-thq-oval-elm1 {
  top: 0px;
  left: 0.00000762939453125px;
  width: 33px;
  height: 33px;
  position: absolute;
  box-shadow: 0px 1.1749820709228516px 2.349964141845703px 0px rgba(0, 0, 0, 0.30000001192092896) ;
}
 
.login1-thq-frame-elm1 {
  top: 6.143764495849609px;
  left: 6.143791198730469px;
  width: 21px;
  height: 21px;
  position: absolute;
}
 
.login1-thq-iccurrent-elm2 {
  top: 159px;
  left: 24px;
  width: 33.48699188232422px;
  height: 33.48699188232422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.login1-thq-oval-elm2 {
  top: 0px;
  left: 0.00000762939453125px;
  width: 33px;
  height: 33px;
  position: absolute;
  box-shadow: 0px 1.1749820709228516px 2.349964141845703px 0px rgba(0, 0, 0, 0.30000001192092896) ;
}
 
.login1-thq-frame-elm2 {
  top: 6.143764495849609px;
  left: 6.143791198730469px;
  width: 21px;
  height: 21px;
  position: absolute;
}
 
.login1-link {
  display: contents;
}
 
.login1-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.login1-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.login1-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
